@import '~style/helpers';
.body{
	width:414px;
	height:736px;
}
.containerrainy { 
	display: flex;
	flex-direction: column;
	background-image: url('../../assets/backgrounds/rainy.png');
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 80px;
	margin: 0 auto;
}
.containersunny{
	display: flex;
	flex-direction: column;
	background-image: url('../../assets/backgrounds/sunny.png');
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 80px;
	margin: 0 auto;
}

.containercloudy{
	display: flex;
	flex-direction: column;
	background-image: url('../../assets/backgrounds/cloudy.png');
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 80px;
	margin: 0 auto;
}
.header {
	display: flex;
	flex-direction: column;
	flex: 1;
	text-align: center;
	font-size: 50px;
}
.bottom {
	margin-top:20%;
	//text-align: center;
	display:inline;
	padding-left:5px;
	padding-right:5px;
}
.details {
	flex: 4;
}
.city {
	flex: 1;
	font-size: 1.7em;
	font-weight: 400;	
}
.conditions {
	flex: 1;
	font-size: 1em;
}
.temperature {
	flex: 2;
	margin-top: 0;
	font-size: 2.8em;
	font-weight: 300;
	letter-spacing: -12px;
}
.filled:after {
	content: "°";
	margin: 0 0 0 1rem;
	font-size: 0.5em;
	font-weight: 100;
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
}

.topBtn button {
	font-size: 1rem;
	padding-left: 5px;
	padding-right: 5px;
	//display: block;
	background: #6DA4CC;
	border: 1px solid #fff;
	color: #fff;
	font-weight: 300;
	border-radius: 3px;
	transition: all 0.3s ease-in-out;
  }
  .topBtn button:hover {
	background: #fff;
	color: #6DA4CC;
	border: 1px solid transparent;
  }